.text-center {
  text-align: center;
}

.text-highlight {
  color: var(--clr-secondary);
}

.text-highlight-light {
  color: var(--clr-secondary-light);
}

.font-face-highlight {
  font-family: var(--font-face-highlight);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}